.customize-control-ast-color {
  .wp-color-result span {
    background: #f7f7f7;
  }
  .ast-color-picker-alpha {
    width: 67px;
    line-height: 26px;
  }
  .button {
    &.button-small {
      &.wp-picker-clear {
        margin-left: 2%;
        line-height: 2.4;
      }
    }
  }
}

.wp-picker-input-wrap label {
  font-size: 0;
}

@media (max-width: 1755px) {
  .iris-picker.iris-border {
    width: 245px !important;
  }
  .iris-slider.iris-strip, .iris-strip.iris-slider.iris-alpha-slider {
    width: 13px !important;
    margin-left: 8px !important;
  }
}