.customize-control-ast-responsive-color {
  .wp-picker-container {
    float: left;
  }
  .ast-responsive-color {
    width: 67px;
    line-height: 26px;
  }
  .button {
    &.button-small {
      &.wp-picker-clear {
        margin-left: 1%;
        line-height: 2.4;
      }
    }
  }
  button.button.wp-color-result.wp-picker-open {
    margin: 0px 3px 6px 0px !important;
  }
  .customize-control-content .wp-picker-container {
    display: none;
    &.active {
      display: block;
    }
  }
}

.wp-picker-container.wp-picker-active .wp-picker-open {
  margin: 0px 3px 6px 0px;
}